.product-description {
    width: 57%;
}
.product-description__top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 25px;
    border-bottom: 1px solid @white-five;
}
.product-description__buy-info {
    padding: 41px 0;
    border-bottom: 2px dashed @white-five;
}
.product-description__colors {
    display: flex;
    align-items: center;
    padding: 30px 0;
    border-bottom: 2px dashed @white-five;
}